<div class="side-bar">
	{{#link-to "index"}}<p class="text-uppercase">Organisation profile</p>{{/link-to}}
	{{#link-to "analytics"}}<p class="text-uppercase">Analytics</p>{{/link-to}}
</div>

{{yield}}
